@font-face {
  font-family: 'Instrument Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/instrument-serif/instrument-serif.woff2') format('woff2');
}

@font-face {
  font-family: 'Instrument Serif Fallback: New Times Roman';
  font-style: normal;
  font-weight: 400;
  src: local('Times New Roman');
  ascent-override: 117.87%;
  descent-override: 36.91%;
  line-gap-override: 0.00%;
  size-adjust: 83.99%;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter/inter-latin-400-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/inter/inter-latin-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
  src: url('/fonts/inter/inter-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/inter/inter-latin-600-italic.woff2') format('woff2');
}
