<a href="{{ "" | relURL }}">Home</a>

{{ range .Site.Menus.main }}
  <a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}

<a href="{{ "writing" | relURL }}">Writing</a>
<a href="{{ "now" | relURL }}">Now</a>
